/* Global styles */
:root {
  --primary-color: #e9196c;
  --secondary-color: #172333;
  --tertiary-color: #fff;
  --font-family: Arial, sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navigation styles */
nav {
  background-color: var(--secondary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
}

.navbar ul {
  display: flex;
  list-style-type: none
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  font-weight: bold;
  transition: color 0.2s;
}

.navbar li a:hover {
  color: var(--primary-color);
}

/* Heading styles */
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  flex-direction: column;
}

.heading h1 {
  font-size: 56px;
  margin: 0;
  text-align: center;
}

.heading h2 {
  font-size: 28px;
  margin: 20px 0;
  text-align: center;
}

.heading a.animate {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
}

.heading a.animate:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

/* Content styles */
.content-container {
  padding: 60px;
  border: 2px solid var(--primary-color);
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.content-container h2 {
  font-size: 48px;
  margin: 0 0 40px;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
}

.content-container ul {
  margin: 40px 0 0;
  list-style: none;
}

.content-container li {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ae9d9d;
  text-align: center;
}

.content-container li:before {
  content: "\2022";
  color: var(--primary-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.content-container a {
  display: inline-block;
  background-color: var(--primary-color);
  color: #171313;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.content-container a:hover {
  background-color: var(--secondary-color);
  color: #000000;
}

/* Footer styles */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  font-weight: bold;
  transition: color 0.2s;
}

footer a:hover {
  color: #c00;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul {
    margin-top: 20px;
  }

  .navbar li {
    margin: 10px 0;
  }

  .heading {
    height: auto;
    padding: 80px 20px;
  }

  .heading h1 {
    font-size: 48px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .content-container {
    padding: 40px;
  }

  .content-container h2 {
    font-size: 36px;
  }

  .content-container li {
    font-size: 20px;
  }
}