aiofiles==0.8.0; python_version >= "3.6"
aiohttp==3.8.1; python_version >= "3.6"
aiosignal==1.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
aiosqlite==0.17.0; python_version >= "3.6"
async-generator==1.10; python_version >= "3.6"
async-timeout==4.0.2; python_version >= "3.6" and python_full_version >= "3.8.0"
asyncio-extras==1.3.2; python_version >= "3.6"
asyncpraw==7.5.0; python_version >= "3.6"
asyncprawcore==2.3.0; python_version >= "3.6"
attrs==21.4.0; python_full_version >= "3.8.0" and python_version >= "3.6"
certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.0.12; python_full_version >= "3.8.0" and python_version >= "3.7" and python_version < "4"
django-question==1.2.5
frozenlist==1.3.0; python_version >= "3.7" and python_full_version >= "3.8.0"
idna==3.3; python_version >= "3.7" and python_version < "4"
multidict==6.0.2; python_version >= "3.7" and python_full_version >= "3.8.0"
psutil==5.9.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
py-ulid==1.0.3; python_full_version >= "3.8.0"
requests==2.28.0; python_version >= "3.7" and python_version < "4"
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.8.0"
update-checker==0.18.0; python_version >= "3.6"
urllib3==1.26.10; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.7"
git+https://github.com/EnokiUN/voltage; python_full_version >= "3.8.0"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.8.0"
