<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remix - Commands</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="../commands/style.css">
  <link rel="icon" href="../assets/icon.png" alt="Remix icon">
  <style>
  table, th, td {
    border: 1px solid white;
    color: white;
  }
  th, td {
    padding: 0.75rem;
    text-align: left;
  }
  </style>
</head>

<body style="background-color: rgb(17 24 39); color: rgb(156 163 175)">
  <%- include("components/navbar"); %>
  <section style="padding: 2.5rem;">
    <input placeholder="Search..." id="search" onkeyup="searchCmds()"></input>
    <table style="border-radius: 5px" id="commands">
      <thead>
        <tr style="color: white; font-size: 120%; background-color: rgb(31 41 55);">
          <th>Name</th>
          <th>Description</th>
          <th>Usage</th>
          <th>Aliases</th>
        </tr>
      </thead>
      <tbody>
        <% commands.forEach(c => { %>
          <%- include("commands/row", c) %>
        <% }); %>
      </tbody>
    </table>
  </section>
  <%- include("components/footer"); %>
  <script>
  // get the search input and command table elements
  const searchInput = document.getElementById('search');
  const cmdTable = document.getElementById('commands').getElementsByTagName('tbody')[0];

  function searchCmds() {
    const filter = searchInput.value.toLowerCase();
    for (let i = 0; i < cmdTable.rows.length; i++) {
      const row = cmdTable.rows[i];
      const name = row.cells[0].textContent.toLowerCase();
      const description = row.cells[1].textContent.toLowerCase();
      if (name.includes(filter) || description.includes(filter)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    }
  }
  </script>
</body>
</html>
