<div class="results" style="margin-top: 1rem; padding: 1rem; text-align: left;">
  <%
    radios.forEach(r => {
      const keywords = r.keyWords;

      if (keywords.findIndex(e => query.toLowerCase().includes(e)) !== -1) {
  %>
        <%-
        include("search/content-tile", { d: {
          url: "remix://radio/" + r.name,
          redirectUrl: r.author.url,
          thumbnail: r.thumbnail,
          title: r.detailedName,
          author: {
            iconUrl: r.thumbnail,
            url: r.author.url,
            name: r.author.name,
          },
          description: r.description
        }});
        %>
  <%
      }
    });
  %>

  <% for (let i = 0; i < data.length; i++) { %>
    <%- include("search/content-tile", { d: data[i] }); %>
  <% } %>
</div>
<style>
.add-btn {
  opacity: 0;
  transition: opacity 0.3s;
}
.add-btn:hover {
  opacity: 0.8;
}
</style>
