<style>
.notification {
  position: relative;
  background-color: rgb(31, 41, 55);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 40%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.43, 0.43, 0.71, 0.71)
}
.notif-title {
  font-size: 120%;
}
</style>

<div style="
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  padding: 1rem;
  max-height: 100vh;
  display: flex;
  flex-direction: row">
  <div class="notification">
    <h1 class="notif-title">test</h1>
    <p class="notif-content">
      This is a test notification ;>
    </p>
  </div>
</div>

<script>
const removeNotif = (el) => {
  setInterval(() => {
    el.remove();
  }, 200);
  el.style.transform = "scale(0.7)";
}
</script>
