<div style="
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #1F2937;
  border-color: #374151;
  diplay: flex;
  justify-content: center">
  <h1 style="padding-bottom: 1.5rem; font-size: 200%; color: white">Currently Playing</h1>

  <div style="height: 10rem; position: relative; overflow: hidden">
    <img style="border-radius: 5px; object-fit: cover; object-position: left center; aspect-ratio: 4 / 1; height: 100%" src="https://i.ytimg.com/vi/hJqYc62NCKo/hq720.jpg"/>
    <div style="display: flex; align-items: center; flex-direction: column; justify-content: center; box-shadow: -6px 0px 12px 5px rgba(255,255,255,0.6); border-radius: 0 5px 5px 0; height: 100%; aspect-ratio: 3 / 1; background-color: rgba(255, 255, 255, 0.6); position: absolute; right: 0; top: 0">
      <p>
        Play | Pause | Placeholder
      </p>
      <p>
        WIP
      </p>
    </div>
  </div>
</div>
